{% extends "base.html" %}
{% load static %}



{% block content %}



<div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container slide-overlay" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

                    <!-- START REVOLUTION SLIDER 5.4.8 auto mode -->
                    <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8">
                        <div class="slotholder"></div>
                        <ul><!-- SLIDE  -->

                            <!-- SLIDE 1 -->
                            <li data-index="rs-3049" data-transition="slideup" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"    data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- <div class="overlay">
                                </div> -->
                                <!-- MAIN IMAGE -->
<!--                                <img src='{% static "images/slide/1.jpg" %}'  alt=""  data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>-->
                                <img src='{{ slider.0.slider_image.url }}'  alt=""  data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 12 -->
                                <div class="tp-caption title-slide"
                                    id="slide-3049-layer-1"
                                    data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['-95','-95','-95','-95']"
                                    data-fontsize="['60','60','45','33']"
                                    data-lineheight="['65','65','45','35']"
                                    data-fontweight="['700','700','700','700']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"

                                    data-type="text"
                                    data-responsive_offset="on"

                                    data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

                                    data-textAlign="['center','center','center','center']"
                                    data-paddingtop="[10,10,10,10]"
                                    data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0"
                                    data-paddingleft="[0,0,0,0]"

                                    style="z-index: 16; white-space: nowrap;">{{ sliderText.0.title }}
                                </div>

                                <!-- LAYER NR. 13 -->
                                <div class="tp-caption sub-title"
                                    id="slide-3049-layer-4"
                                    data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['-16','-16','-16','-16']"
                                    data-fontsize="['16',16','16','16']"
                                    data-lineheight="['28','28','22','16']"
                                    data-fontweight="['200','200','200','200']"
                                    data-width="['800',800','800','450']"
                                    data-height="none"
                                    data-whitespace="['nowrap',normal','normal','normal']"

                                    data-type="text"
                                    data-responsive_offset="on"

                                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                    data-textAlign="['center','center','center','center']"
                                    data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"

                                    style="z-index: 17; white-space: nowrap;">{{ sliderText.0.message }}
                                </div>

                                <a href="#" target="_self" class="tp-caption flat-button-slider bg-blue"

                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'

                                data-x="['center','center','center','center']" data-hoffset="['-72','-72','-82','-82']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['77','77','77','77']"
                                data-width="['auto']"
                                data-height="['auto']"
                                style="z-index: 3;">Our Services
                                </a><!-- END LAYER LINK -->
                                <a href="#" target="_self" class="tp-caption flat-button-slider bg-white pd-style2"

                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'

                                data-x="['center','center','center','center']" data-hoffset="['73','73','82','82']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['77','77','77','77']"
                                data-width="['auto']"
                                data-height="['auto']"
                                style="z-index: 3;">about us
                                </a><!-- END LAYER LINK -->
                            </li>

                            <!-- SLIDE 2 -->
                            <li data-index="rs-3048" data-transition="slideremoveright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"    data-rotate="0"  data-saveperformance="off"  data-title="HTML5 Video" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                                <!-- <div class="overlay">
                                </div> -->
                                <!-- MAIN IMAGE -->
                                <img src='{{ slider.1.slider_image.url }}'  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                <img src='{{ slider.2.slider_image.url }}'  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina>





                                <a href="#" target="_self" class="tp-caption flat-button-slider bg-blue"

                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'

                                data-x="['center','center','center','center']" data-hoffset="['-72','-72','-82','-82']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['77','77','77','77']"
                                data-width="['auto']"
                                data-height="['auto']"
                                style="z-index: 3;">Our Services
                                </a><!-- END LAYER LINK -->
                                <a href="#" target="_self" class="tp-caption flat-button-slider bg-white pd-style2"

                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'

                                data-x="['center','center','center','center']" data-hoffset="['73','73','82','82']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['77','77','77','77']"
                                data-width="['auto']"
                                data-height="['auto']"
                                style="z-index: 3;">about us
                                </a><!-- END LAYER LINK -->
                            </li>
                        </ul>
                    </div>
        </div><!-- END REVOLUTION SLIDER -->

        <section class="business-financial violet style3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>You will be always aware of all Updates !</p>
                        <div class="btn-click">
                            <a href="#" class="btn-black">SEE MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="flat-row v14 bg-theme">
            <div class="container">
                <div class="row">



                {% for project in projects %}
                    <div class="col-md-3 col-sm-6">
                        <article class="post style2 column col-style2 clearfix">
                            <div class="featured-post">
                                <img src='{{ project.image.url }}' alt="image">
                            </div><!-- /.feature-post -->
                            <div class="content-post">
                                <h2 class="title-post"><a href="#">{{ project.title }}</a></h2>
                                <p>{{ project.details|truncatechars:80 }}</p>
                                <a href="{% url 'projects_detail' pk=project.pk %}" class="readmore">READ MORE</a>
                            </div><!-- /.contetn-post -->
                        </article>
                    </div>



                    {% endfor %}



                </div>
            </div>
        </section>



        <section class="flat-row v5 choose-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="wrap-accordion">
                            <div class="title-section style2">
                                <h1 class="title">Why Choose Us ?</h1>
                                <div class="sub-title">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut<br>labore et dolore magna aliqua. Ut enim ad minim veniam.
                                </div>
                            </div><!-- /.title-section -->
                            <div class="flat-accordion">

                                {% for faq in faqs %}
                                <div class="flat-toggle">
                                    <div class="toggle-title active">{{ faq.question }}</div>
                                    <div class="toggle-content">
                                        <p>{{ faq.answer }}</p>
                                    </div>
                                </div><!-- /toggle -->
                                {% endfor %}

                            </div><!-- /.accordion -->
                        </div><!-- /wrap-accordion -->
                    </div>
                </div>
            </div>
        </section>






{% endblock %}
