{% load static %}

<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Specialist | Multipurpose Business & Financial, Consulting, Accounting, Broker HTML Templates
</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href='{% static "stylesheets/bootstrap.css" %}' >

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href='{% static "stylesheets/style.css" %}'>

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href='{% static "stylesheets/colors/color1.css" %}' id="colors">

    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href='{% static "revolution/css/layers.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "revolution/css/settings.css" %}'>

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href='{% static "stylesheets/responsive.css" %}'>

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href='{% static "stylesheets/animate.css" %}'>

    <!-- Favicon and touch icons  -->
    <link href='{% static "icon/apple-touch-icon-48-precomposed.png" %}' rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href='{% static "icon/apple-touch-icon-32-precomposed.png" %}' rel="apple-touch-icon-precomposed">
    <link href='{% static "icon/favicon.png" rel="shortcut icon" %}'>

    <!--[if lt IE 9]>
        <script src='{% static "javascript/html5shiv.js" %}'></script>
        <script src='{% static "javascript/respond.min.js" %}'></script>
    <![endif]-->
</head>
<body class="header-sticky2">
    <!-- Preloader -->
    <section class="loading-overlay">
        <div class="Loading-Page">
            <h2 class="loader">Loading</h2>
        </div>
    </section>

    <!-- Boxed -->
    <div class="boxed">

        <!-- Header -->
        <div class="site-header">
            <div class="top topv2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="logo" class="logo">
                                <a href="index.html" rel="home">
                                    <img src='{% static "images/logo.png" %}' alt="image">
                                </a>
                            </div><!-- /.logo -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <div class="header-widgets">
                                <div class="widgets-header-information">
                                    <div class="informaiton-text">
                                        <div class="info-icon">
                                            <div class="btn-click">
                                                <a href="#" class="btn-black">GET A QUOTE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.widget-header-information -->
                                <div class="widgets-header-information">
                                    <div class="informaiton-text">
                                        <div class="info-icon">
                                            <i class="fa fa-clock-o"></i>
                                            <div class="content">
                                                <strong>8:00 AM - 6:00 PM</strong><br>
                                                <span>Monday to saturday</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.widget-header-information -->
                                <div class="widgets-header-information">
                                    <div class="informaiton-text">
                                        <div class="info-icon">
                                            <i class="fa fa-map-marker"></i>
                                            <div class="content">
                                            <strong>1341 W Mockingbird</strong><br>
                                                <span>NewYork, US</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.widget-header-information -->
                                <div class="widgets-header-information">
                                    <div class="informaiton-text">
                                        <div class="info-icon">
                                            <i class="fa fa-phone"></i>
                                            <div class="content"><strong>215-598-385</strong><br>
                                                <span>info@specialist.org</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.widget-header-information -->
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.top -->

            <!-- Header -->
            <header id="header" class="header bg-violet headerv2 header-classic clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header-wrap clearfix">
                                <div class="nav-wrap">
                                    <nav id="mainnav" class="mainnav">
                                        <ul class="menu">

                                            <li class="active"><a href="{% url 'index' %}">Home</a></li>

                                            <li><a href="{% url 'about' %}">About us</a></li>

                                            <li><a href="{% url 'services' %}">Services</a></li>

                                            <li><a href="{% url 'projects' %}">Projects</a></li>


                                            <li><a href="{% url 'contact' %}">contact</a></li>
                                        </ul><!-- /.menu -->
                                    </nav><!-- /.mainnav -->



                                    <ul class="social-links">
                                        <li><a href="#"><i class="social_facebook"></i></a></li>
                                        <li><a href="#"><i class="social_twitter"></i></a></li>
                                        <li><a href="#"><i class="social_vimeo"></i></a></li>
                                        <li><a href="#"><i class="social_instagram"></i></a></li>
                                        <li><a href="#"><i class="social_skype"></i></a></li>
                                    </ul>

                                </div><!-- /.nav-wrap -->
                                <div class="btn-menu">
                                    <span></span>
                                </div><!-- //mobile menu button -->
                            </div><!-- /.header-inner -->
                        </div>

                    </div><!-- /.row -->
                </div>
            </header><!-- /.header -->
        </div>




        {% block content %}

        {% endblock %}



















        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-infomation">
                            <h3 class="logo-footer"><a href="index.html">SPECIALIST</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <ul class="flat-information">
                                <li class="phone"><a href="#">258-556-189</a></li>
                                <li class="address"><a href="#">John Doe, 123 Main St Chicago</a></li>
                                <li class="email"><a href="#">info@greenorganic.com</a></li>
                                <li class="skype"><a href="#">specialist</a></li>
                            </ul>
                        </div>
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                    </div><!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                    </div><!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-out-link">
                            <h4 class="widget-title">Our Links</h4>
                            <ul class="one-half">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Pages</a></li>
                                <li><a href="{% url 'projects' %}">Projects</a></li>
                            </ul>
                            <ul class="one-half">
                                <li><a href="#">News</a></li>
                                <li><a href="#">Shop</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </footer>

        <!-- Bottom -->
        <div class="bottom">
            <div class="container">
                <div class="copyright">
                    <p>@2017 <a href="https://themeforest.net/user/themesflat">Themesflat</a>. All rights reserved.
                    </p>
                </div>
                <ul class="social-links">
                    <li><a href="#"><i class="social_facebook"></i></a></li>
                    <li><a href="#"><i class="social_twitter"></i></a></li>
                    <li><a href="#"><i class="social_vimeo"></i></a></li>
                    <li><a href="#"><i class="social_instagram"></i></a></li>
                    <li><a href="#"><i class="social_skype"></i></a></li>
                </ul>
            </div><!-- /.container -->
        </div><!-- bottom -->

         <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>

    </div><!-- Boxed -->

    <!-- Javascript -->
    <script type="text/javascript" src='{% static "javascript/jquery.min.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/bootstrap.min.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/jquery.easing.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/imagesloaded.min.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/jquery.isotope.min.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/jquery-countTo.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/jquery-waypoints.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/jquery.magnific-popup.min.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/jquery.cookie.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/jquery.fitvids.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/parallax.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/smoothscroll.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/jquery.flexslider-min.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/owl.carousel.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/jquery-validate.js" %}'></script>
    <script type="text/javascript" src='{% static "javascript/jquery.mb.YTPlayer.js" %}'></script>


    <script type="text/javascript" src='{% static "javascript/main.js" %}'></script>

    <!-- Revolution Slider -->
    <script type="text/javascript" src='{% static "revolution/js/jquery.themepunch.tools.min.js" %}'></script>
    <script type="text/javascript" src='{% static "revolution/js/jquery.themepunch.revolution.min.js" %}'></script>
    <script type="text/javascript" src='{% static "revolution/js/slider2.js" %}'></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src='{% static "revolution/js/extensions/revolution.extension.actions.min.js" %}'></script>
    <script type="text/javascript" src='{% static "revolution/js/extensions/revolution.extension.carousel.min.js" %}'></script>
    <script type="text/javascript" src='{% static "revolution/js/extensions/revolution.extension.kenburn.min.js" %}'></script>
    <script type="text/javascript" src='{% static "revolution/js/extensions/revolution.extension.layeranimation.min.js" %}'></script>
    <script type="text/javascript" src='{% static "revolution/js/extensions/revolution.extension.migration.min.js" %}'></script>
    <script type="text/javascript" src='{% static "revolution/js/extensions/revolution.extension.navigation.min.js" %}'></script>
    <script type="text/javascript" src='{% static "revolution/js/extensions/revolution.extension.parallax.min.js" %}'></script>
    <script type="text/javascript" src='{% static "revolution/js/extensions/revolution.extension.slideanims.min.js" %}'></script>
    <script type="text/javascript" src='{% static "revolution/js/extensions/revolution.extension.video.min.js" %}'></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAYAhMXM0WNKB9Dans4nHFbABj2mgRAbw&region=GB"></script>
    <script type="text/javascript" src='{% static "javascript/gmap3.min.js" %}'></script>

</body>
</html>
